.bg-container{
  background-color: #000000;
  background-size: cover;
  padding:50px;
  padding-left: 60px;
  padding-right: 60px;
}
.bg-container nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
 @media screen and (max-width:700px){
  .logo-mobile-view{
    display:flex;
    width:100px
  }
  .nav-option-mobile-view{
    display:flex;
    width:100px
  }
 }
.bg-container ul{
  list-style-type:none;
  padding:0px;
  margin:0px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap:3rem;
}
.bg-container ul button{
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  outline:none;
  font-size: 20px;
  font-family: "Roboto";
  color:#E5DFD9;
}
@media screen and (max-width:700px){
  .bg-container ul{
    gap:1rem;
  }
  .bg-container ul button{
    font-size: 12px;
  }
}
.category-menu-conatiner{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
@media screen and (max-width:700px){
  .category-mobile-view{
    display:flex;
    
    width:100%;
  }
}
.filter-section{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:30px;
}
.filter-section div{
  display:flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
}
.font-style{
  font-family: "Roboto";
  font-size:20px;
  color:#E5DFD9;
}


.product-container{
  list-style-type: none;
  padding:0px;
  margin:0px;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.font-heading{
  font-size: 35px;
  text-align: left;
  margin-bottom:35px;
  color:#E5DFD9;
}