.customer-review-container{
    background-color:black;
    padding:14px;
    border-radius: 10px;
    max-width:200px;
}

.font-style{
    font-family: "Roboto";
    font-size:20px;
    color:grey;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .product-img-property{
    height:250px;
    width:200px;
  }
  .price-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width:700px){
    .customer-review-container{
      max-width: 100px;
    }
    .product-img-property{
      height:150px;
      width:100px;
    }
    .font-style{
      font-size: 12px;
    }
    .price-img-mobile-view{
      width:70%;
    }
    .bag-img-mobile-view{
      width:20%;
    }
  }